# ignore all files and directories named "node_modules"
backend/node_modules
frontend/node_modules

# ignore all files and directories named ".git"
.git

# ignore all files and directories named ".vscode"
.vscode

# ignore all files and directories named "dist"
frontend/dist

# ignore all files and directories named "*.log"
*.log

# ignore all files and directories named "package-lock.json"
frontend/package-lock.json
backend/package-lock.json
