<div class="card m-2 myheader" *ngIf="isAdmin">
    <nav class="navbar">
      <div class="container-fluid">
        <h2>Tariff Calculator</h2>

        <div>
          <button pButton type="button" label="Home" icon="pi pi-home"
          class="p-button-sm p-button-outlined"
          style="margin-right: 15px;"
          (click)="gotoHome()"
          >
          </button>

          <button pButton type="button" label="Products" icon="pi pi-list"
          class="p-button-sm p-button-outlined"
          style="margin-right: 15px;"
          (click)="gotoProduct()"
          >
          </button>

          <button pButton type="button" label="Logout" icon="pi pi-power-off"
          class="p-button-sm p-button-outlined"
          style="margin-right: 15px;"
          (click)="logout()"
          >
          </button>
  
        </div>
  
      </div>
    </nav>
  </div>
  
  